In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
Normal_sales_data=pd.read_csv(r"C:\Users\ss\OneDrive\Desktop\Msc Project\Datasets\Normal_sales_data.csv")
Normal_sales_data['DATE'] = pd.to_datetime(Normal_sales_data['DATE'])
Normal_sales_data

,DATE,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,TOTAL SALES
0,2017-06-01,2017,6,MONSIEUR TOUTON SELECTION,359696,TRE FILI P/GRIGIO ORGANIC - 750ML,WINE,0.00,0.0,1.0,1.00
1,2017-06-01,2017,6,A VINTNERS SELECTIONS,438804,LA CANA ALBARINO - 750ML,WINE,0.16,0.0,1.0,1.16
2,2017-06-01,2017,6,USA WINE IMPORTS,438847,BOUKE RED - 750ML,WINE,0.08,0.0,0.0,0.08
3,2017-06-01,2017,6,QUINTESSENTIAL LLC,438863,GUSTAVE LORENTZ RES RIES - 750ML,WINE,0.24,0.0,0.0,0.24
4,2017-06-01,2017,6,REPUBLIC NATIONAL DISTRIBUTING CO,43893,FINEST CALL GRENADINE - 1L,NON-ALCOHOL,0.00,0.0,2.0,2.00
...,...,...,...,...,...,...,...,...,...,...,...
234140,2020-09-01,2020,9,OPICI FAMILY DISTRIBUTING OF MD,321724,BROTTE LE GRIVELIERE CDR - 750ML,WINE,0.00,0.0,4.0,4.00
234141,2020-09-01,2020,9,BACCHUS IMPORTERS LTD,32174,CITADELLE GIN - 750ML,LIQUOR,3.89,5.0,0.0,3.89
234142,2020-09-01,2020,9,"THE COUNTRY VINTNER, LLC DBA WINEBOW",321742,GROS NORE BANDOL RGE - 750ML,WINE,0.00,0.0,1.0,1.00
234143,2020-09-01,2020,9,LAIRD AND COMPANY,70478,LAZZARONI SAMBUCA - 750ML,LIQUOR,0.68,0.0,0.0,0.68
234144,2020-09-01,2020,9,RELIABLE CHURCHILL LLLP,97969,S SMITH WINTER WELCOME 4/6NR - 12OZ,BEER,0.00,0.0,1.0,1.00

In [4]:
Normal_sales_data['ITEM CODE'].unique()

array(['359696', '438804', '438847', ..., 323988, 321883, 307558],
      dtype=object)

In [5]:
Normal_sales_data.dtypes

DATE                datetime64[ns]
YEAR                         int64
MONTH                        int64
SUPPLIER                    object
ITEM CODE                   object
ITEM DESCRIPTION            object
ITEM TYPE                   object
RETAIL SALES               float64
RETAIL TRANSFERS           float64
WAREHOUSE SALES            float64
TOTAL SALES                float64
dtype: object

In [6]:
Normal_sales_data['YEAR'] = Normal_sales_data['DATE'].dt.year
Normal_sales_data['MONTH'] = Normal_sales_data['DATE'].dt.month
Normal_sales_data['QUARTER'] = Normal_sales_data['DATE'].dt.quarter

Normal_sales_data['day_of_week']= Normal_sales_data['DATE'].dt.weekday
Normal_sales_data['week_of_year']= Normal_sales_data['DATE'].dt.isocalendar().week

In [7]:
Normal_sales_data.nunique()

DATE                   24
YEAR                    4
MONTH                  12
SUPPLIER              392
ITEM CODE           47124
ITEM DESCRIPTION    32430
ITEM TYPE               7
RETAIL SALES         1162
RETAIL TRANSFERS      466
WAREHOUSE SALES       118
TOTAL SALES          1288
QUARTER                 4
day_of_week             7
week_of_year           15
dtype: int64

In [8]:
Normal_sales_data

,DATE,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,TOTAL SALES,QUARTER,day_of_week,week_of_year
0,2017-06-01,2017,6,MONSIEUR TOUTON SELECTION,359696,TRE FILI P/GRIGIO ORGANIC - 750ML,WINE,0.00,0.0,1.0,1.00,2,3,22
1,2017-06-01,2017,6,A VINTNERS SELECTIONS,438804,LA CANA ALBARINO - 750ML,WINE,0.16,0.0,1.0,1.16,2,3,22
2,2017-06-01,2017,6,USA WINE IMPORTS,438847,BOUKE RED - 750ML,WINE,0.08,0.0,0.0,0.08,2,3,22
3,2017-06-01,2017,6,QUINTESSENTIAL LLC,438863,GUSTAVE LORENTZ RES RIES - 750ML,WINE,0.24,0.0,0.0,0.24,2,3,22
4,2017-06-01,2017,6,REPUBLIC NATIONAL DISTRIBUTING CO,43893,FINEST CALL GRENADINE - 1L,NON-ALCOHOL,0.00,0.0,2.0,2.00,2,3,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234140,2020-09-01,2020,9,OPICI FAMILY DISTRIBUTING OF MD,321724,BROTTE LE GRIVELIERE CDR - 750ML,WINE,0.00,0.0,4.0,4.00,3,1,36
234141,2020-09-01,2020,9,BACCHUS IMPORTERS LTD,32174,CITADELLE GIN - 750ML,LIQUOR,3.89,5.0,0.0,3.89,3,1,36
234142,2020-09-01,2020,9,"THE COUNTRY VINTNER, LLC DBA WINEBOW",321742,GROS NORE BANDOL RGE - 750ML,WINE,0.00,0.0,1.0,1.00,3,1,36
234143,2020-09-01,2020,9,LAIRD AND COMPANY,70478,LAZZARONI SAMBUCA - 750ML,LIQUOR,0.68,0.0,0.0,0.68,3,1,36
234144,2020-09-01,2020,9,RELIABLE CHURCHILL LLLP,97969,S SMITH WINTER WELCOME 4/6NR - 12OZ,BEER,0.00,0.0,1.0,1.00,3,1,36

In [9]:
# Example for 1-month lag
Normal_sales_data['SALES_LAG_1'] = Normal_sales_data.groupby('ITEM DESCRIPTION')['TOTAL SALES'].shift(1)
Normal_sales_data['SALES_LAG_3'] = Normal_sales_data.groupby('ITEM DESCRIPTION')['TOTAL SALES'].shift(3)
Normal_sales_data['SALES_LAG_6'] = Normal_sales_data.groupby('ITEM DESCRIPTION')['TOTAL SALES'].shift(6)

# Example rolling average over last 3 months
Normal_sales_data['SALES_ROLLING_MEAN_3'] = Normal_sales_data.groupby('ITEM DESCRIPTION')['TOTAL SALES'].transform(lambda x: x.rolling(window=3).mean())

In [10]:
# One-hot encoding for ITEM TYPE
Normal_sales_data = pd.get_dummies(Normal_sales_data, columns=['ITEM TYPE'], prefix='TYPE')

# Label encoding for SUPPLIER
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Normal_sales_data['SUPPLIER_ENCODED'] = le.fit_transform(Normal_sales_data['SUPPLIER'])

In [11]:
# Median sales of each product across all periods
median_sales = Normal_sales_data.groupby('ITEM DESCRIPTION')['TOTAL SALES'].median().reset_index()
median_sales.rename(columns={'TOTAL SALES': 'MEDIAN_PRODUCT_SALES'}, inplace=True)

# Merge back
Normal_sales_data = Normal_sales_data.merge(median_sales, on='ITEM DESCRIPTION', how='left')

In [12]:
# Count number of outliers per month-year
normal_data_unstack = Normal_sales_data.groupby(['YEAR', 'MONTH']).size().unstack(fill_value=0)
normal_data_unstack

MONTH,1,2,3,4,5,6,7,8,9,10,11,12
YEAR,,,,,,,,,,,,
2017,0,0,0,0,0,10410,10068,10518,10369,10499,11092,10975
2018,10597,10261,0,0,0,0,0,0,0,0,0,0
2019,9575,9428,9644,9722,9766,9290,9469,9360,9529,9848,9610,0
2020,9002,0,8365,0,0,0,8151,0,8597,0,0,0

In [13]:
Normal_sales_data.to_csv('Normal_sales_data_with_features_final.csv', index=False)